<%
const PKG = require("./package");
const PREFIX = PKG.prefix;
const LOGO = require("./assets/images/logo.svg");
const LOGO_SM = require("./assets/images/logo_small.svg");
const FAVICON = require("file-loader!./src/favicon.ico");
const TELESCOPE_SVG = require("./assets/images/sltx-icon-telescope.svg")
%>

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--View Title-->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="<%= FAVICON %>" type="image/x-icon"/>
</head>
<body>
<% if (IS_DEV) { %>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
        crossorigin="anonymous"/>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script> <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <div class="reference-screenshot"></div>
  <style>body {min-height: 2000px;}</style>
<% } %>
<header class="<%= PREFIX %>-header">
  <!--HEADER: SEARCH -->
  <div class="<%= PREFIX %>-header--search"></div>
  <!--HEADER: FIXED -->
  <div class="<%= PREFIX %>-header--fixed hidden">
    <div class="container-fluid">
      <div class="flex-row align-items-center">
        <div class="flex-col-auto"><a href="<%= PKG.website %>"><img class="img-fluid <%= PREFIX %>-logo"
                                                                     src="<%= LOGO_SM %>"
                                                                     alt="<%= PKG.description %>"/></a></div>
        <div class="flex-col-auto">
          <!--HEADER FIXED . LINKS -->
          <div class="<%= PREFIX %>-header--links">
            <ul class="list-unstyled list-inline m-0">
              <li><a href="<%= PKG.website %>/explore/request-visitor-information/" target="_blank">Free
                  Visitor Guide</a></li>
              <li class="separator">|</li>
              <li><a href="<%= PKG.website %>>/explore/e-blast-sign-up/" target="_blank">E-Blast Sign-Up</a></li>
            </ul>
          </div>
          <!--HEADER FIXED . NAVIGATION -->
          <nav>
            <ul class="list-inline list-unstyled">
              <li><a href="<%= PKG.website %>/explore" target="_blank">explore</a></li>
              <li><a href="<%= PKG.website %>/events" target="_blank">events</a></li>
              <li><a href="<%= PKG.website %>/restaurants" target="_blank">restaurants</a></li>
              <li><a href="<%= PKG.website %>/hotels" target="_blank">hotels</a></li>
              <li><a href="https://www.facebook.com/visitsugarland" target="_blank">#SweeterinSL</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= PREFIX %>-header--desktop">
    <!--HEADER: DESKTOP: TOP -->
    <div class="<%= PREFIX %>-header--top">
      <div class="container-fluid">
        <div class="flex-row">
          <div class="flex-col-auto visible-xs visible-sm p-0">
            <a class="<%= PREFIX %>-header--btn m-0" href="<%= PKG.website %>"><img class="img-fluid <%= PREFIX %>-header--logo"
                                                                                    src="<%= LOGO_SM %>"
                                                                                    alt="<%= PKG.description %>"/></a>
          </div>
          <div class="flex-col-auto bg-blue">
            <div class="flex-row no-gutters h-100 justify-content-between align-items-center">
              <div class="flex-col-auto">
                <ul class="list-inline list-unstyled <%= PREFIX %>-nav--social h-100 align-items-center m-0">
                  <li class="p-0">
                    <a href="https://www.facebook.com/pages/Visit-Sugar-Land-TX/1633383806889557"
                       target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                  </li>
                  <li class="p-0">
                    <a href="https://www.instagram.com/visitsugarland" target="_blank"><i class="fa fa-instagram"
                                                                                          aria-hidden="true"></i></a>
                  </li>
                  <li class="p-0">
                    <a href="https://www.linkedin.com/company/visit-sugar-land-convention-&amp;-visitors-services"
                       target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="p-0">
                    <a href="http://www.twitter.com/VisitSugarLand" target="_blank"><i class="fa fa-twitter"
                                                                                       aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
              <div class="flex-col-auto visible-sm">
                <div class="<%= PREFIX %>-weather"></div>
              </div>
            </div>
          </div>
          <div class="flex-col-auto p-0">
            <div class="<%= PREFIX %>-header--links h-100">
              <ul class="flex-row no-gutters align-items-center list-unstyled mb-0 h-100">
                <li><a href="<%= PKG.website %>/explore/request-visitor-information/" target="_blank"><b>Free
                      Visitor Guide</b></a></li>
                <li class="separator">|</li>
                <li><a href="<%= PKG.website %>/explore/e-blast-sign-up/" target="_blank"><b>E-Blast Sign-Up</b></a></li>
              </ul>
            </div>
          </div>
          <div class="flex-col-auto">
            <nav class="nav-secondary h-100 ">
              <ul class="nav m-0 list-inline list-unstyled h-100">
                <li><a href="<%= PKG.website %>/meetings/"
                       target="blank"
                       title="Meetings">Meetings</a>
                </li>
                <li><a href="<%= PKG.website %>/sports/"
                       target="blank"
                       title="Sports">Sports</a>
                </li>
                <li><a href="<%= PKG.website %>/event-producers/"
                       target="blank"
                       title="Event Producers">Event
                    Producers</a>
                </li>
                <li><a href="<%= PKG.website %>/media/"
                       target="blank"
                       title="Media">Media</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="flex-col-auto p-0">
            <div class="mytrip h-100">
              <a class="flex-row no-gutters align-items-center h-100 justify-content-evenly" href="<%= PKG.website %>/tripbuilder/"><i class="fa fa-suitcase" aria-hidden="true"></i>
                <span class="mobile-count">MY TRIP</span>
                ( 0 )</a>
            </div>
          </div>
          <div class="flex-col-auto p-0">
            <div class="book-online h-100">
              <a class="h-100" href="https://visitsugarlandtx.bookdirect.net/#/lodgings" target="blank">BOOK ONLINE</a>
            </div>
          </div>
          <div class="flex-col-auto h-100">
            <div class="flex-row no-gutters align-items-center justify-content-evenly <%= PREFIX %>-weather p-0 h-100"></div>
          </div>
          <div class="flex-col-auto p-0">
            <div class="<%= PREFIX %>-search">
              <!-- Button trigger modal -->
              <button type="button"
                      class="btn btn-search--toggle"
                      data-toggle="modal"
                      data-target="#<%= PREFIX %>SearchModal">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--HEADER: DESKTOP: BOT -->
    <div class="<%= PREFIX %>-header--bot bg-white">
      <div class="container-fluid">
        <div class="flex-row align-items-center">
          <div class="flex-col-md-4"><a href="<%= PKG.website %>"><img src="<%= LOGO %>"
                                                                       alt="<%= PKG.description %>"
                                                                       class="img-fluid <%= PREFIX %>-logo"/></a></div>
          <div class="flex-col-md-8">
            <nav class="nav-primary">
              <ul class="nav list-inline list-unstyled m-0">
                <li><a href="<%= PKG.website %>/explore"
                       target="_blank">
                    <img class="nav-icon"
                         src="/images/sltx-icon-telescope.svg" alt="Explore"><span>explore</span></a></li>
                <li><a href="<%= PKG.website %>/events"
                       target="_blank"><i class="nav-icon icon-confetti"></i><span>events</span></a></li>
                <li><a href="<%= PKG.website %>/restaurants"
                       target="_blank"><i class="nav-icon icon-restaurant"></i><span>restaurants</span></a></li>
                <li><a href="<%= PKG.website %>/hotels"
                       target="_blank"><i class="nav-icon icon-bed"></i><span>hotels</span></a></li>
                <li><a href="https://www.facebook.com/visitsugarland"
                       target="_blank"><img class="nav-icon"
                                            src="<%= LOGO_SM %>"><span>#SweeterinSL</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">

<%= require("html-loader?interpolate=true!./src/search_modal.html") %>
</body>
</html>
